body {
  font-family: "Poppins", serif;
  background-image: url("https://8kexpeditions.com/assets/images/about-bg.jpg");
}
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

ul {
  list-style: none;
}

li {
  display: inline;
  /* margin: 0 1rem; */
  color: #fff;
}
